

<div class="box ml-5 mt-2" style="width:735px; border:2px solid #e1e6e7; border-radius: .4em; background: #e5f5fa;">
<div class='text1 ml-2'>
<p>
<p>
<strong>Comment:</strong>
<%= comment.comment%>
</p>

<div class="text-center">
<strong><%= comment.commenter%></strong>
</div>
</p>
</div>
</div>