
<h1>Books</h1>

<%= link_to 'New Book', new_book_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

<tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @has_books %>
<%= link_to 'My books', books_path %>
<%end%>
<br>